h1{
    text-align: center;
    background-color: red
    ;

}
img{
    display: block;
    margin: auto;
}
h2{
    text-align: center;
}
.ingredientes{
    text-align: left;
}
.liquidificador{
    text-align: left;
}
.o boo{
    text-align: left;
}
